.dataInput{
    height: 45px;
    width: 220px;
    border: 2px solid #aebfca;
    border-radius: 5px;
    padding: 2px 10px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: #333;
    outline: none;
    transition: all ease .4s;
}

.base{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgb(255, 255, 255);
    min-height: 94vh;
    padding-top: 4%;
    margin-bottom: 10%;
}

.base h1{
    font-size: 3rem;
    color: #000000;
    margin-bottom: 2rem;
    text-align: center;
}

.base h2{
    font-size: 2rem;
    color: #000000;
    margin-bottom: 2rem;
}

.base p {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 2rem;
}

.cards{
    border: 1px solid #aebfca;
    background-color: white;
}

.container{
    display: flex;
    gap: 3%;
    text-align: center;
    
}

.card{
    padding: 1.2rem 0.5rem;
    border: none;
    border-radius: 1rem;
    width: 300px;
    box-shadow: 0 4px 18px rebeccapurple;
    transition: all ease .4s;
}

.card span{
    font-size: 1.4rem;
    color: #000000;
    margin-bottom: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.verde{
    color: rgb(0, 190, 0) !important;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(252, 255, 251);
    box-shadow: 0 0.2px 1px yellowgreen;
}

.verde:hover{
    background-color: rgb(0, 190, 0);
    color: white !important;
    transition: all ease .6s;
}

.verde:active{
    background-color: rgb(0, 155, 0);
    color: white !important;
    transition: all ease .6s;
}

.vermelho{
    color: red !important;
    font-weight: bold;
}

.card img{
    width: 200px;
    height: 200px;
}

.card button {
    width: 60%;
    height: 10%;
    border-radius: 0.5rem;
    border: 0.1px solid rgb(224, 224, 224);
}

.namecombo {
    height: 8%;
    margin-top: 1rem;
}

.card:hover{
    transform: scale(1.03);
    transition: all ease .4s;
}

.instrucao{
    font-weight: bold;
    font-size: 0.9rem;
}

.preco {
    font-weight: bold;
}


@media (max-width:900px) {
    .container{
        flex-direction: column;
        
    }

    .card{
        margin-bottom: 10%;
        border: none;
        border-radius: 1rem;
        width: 66vw;
        padding-top: 1rem;
        box-shadow: 0 4px 12px rebeccapurple;
        transition: all ease .4s;
    }

    .base{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        background-color: rgb(255, 255, 255);
        min-height: 94vh;
        padding-top: 30%;
        margin-top: 26%;
    }

    .base h1{
        font-size: 2.5rem;
        color: #000000;
        margin-bottom: 2rem;
        text-align: center;
    }

    .instrucao{
        font-weight: bold;
        font-size: 0.9rem;
        text-align: center;
    }

    .card img{
        width: 120px;
        height: 120px;
    }

    .card button {
        height: 2.8em;
        font-size: 1.3rem;
    }

    .verde:hover{
        background-color: rgb(0, 190, 0);
        color: white !important;
        transition: all ease .1s;
    }
    
    .verde:active{
        background-color: rgb(0, 155, 0);
        color: white !important;
        transition: all ease .1s;
    }

    .base h2{
        font-size: 3rem;
        color: #000000;
        margin-bottom: 2rem;
    }
}